    *{
        margin: 0;
        padding: 0;
    }

    body{
        background: #101820FF;
    }
    .container{
        /* border: 2px solid; */
        height: 100vh;
        background: #101820FF;    
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }

    
    .top{
    
        background: #006B38FF;
        width: 100%;
        position:fixed;
        top: 0px;
        z-index: 1;
        
        
    }

    #score{
        color: white;
        font-size: 20px;
        padding: 10px;
        /* border-radius: 20px; */
        text-align: center;
        
    }

    
    .status{
        display: flex;
        justify-content: flex-end;
        /* border-radius: 20px; */

        /* margin: 10px 20px; */
        
    }
    #timel{
        align-self: flex-start;
        color: white;
        margin: 5px;
    }
    .life{
        margin:3px 15px;
        font-size: 25px;
        color: red;

        

        
    }

    .over{
         width: 180px;
        height: 180px;
        background: #006B38FF;
        padding:5px 0;
        box-sizing: border-box;
        border-radius: 30px;
        color: white;
        /* display: none; */
    }
    .Pstart{
        width: 180px;
        height: 180px;
        background: #006B38FF;
        padding:5px 0;
        box-sizing: border-box;
        border-radius: 30px;
        color: white;
        /* display: none; */
        /* transform: translate(-50%,-50%); */

    }

    
    h2,.over>p{
        text-align: center;
        margin: 20px auto;
    }

    .display{
        display: none;
    }

    .btn {
        background: black;
        color: white;
        font-size: 16px;
        border-radius: 10px;
        padding: 5px 15px;
        border: none;
        outline: none;
    }

    .body{
        /* border: 1px solid white; */
        margin: 25px 0;
        height: 90vh;
        /* padding: 10px; */
        overflow: hidden;
    }

    .element{
         
    }

    .visiblity{
        z-index: -1;
    }
    
    
    #element1{
        width: 33px;
        height: 33px;
        /* margin: ; */
        border-radius: 100%;
        position:absolute;
        left: 5%;
        background: #006B38FF;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        color: white;
        animation-name: example2;
        animation-duration: 10s;
        animation-timing-function: ease-in-out;
        /* animation-fill-mode: forwards;s */
        

    }

    #element2{
        width: 33px;
        height: 33px;
        /* margin: ; */
        border-radius: 100%;
        position:absolute;
        left: 15%;
        background: #006B38FF;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        color: white;
        animation-name: example;
        animation-duration: 20s;
        animation-timing-function: ease-in-out;
        /* animation-fill-mode: forwards;s */
        

    }

    #element3{
        width: 33px;
        height: 33px;
        /* margin: ; */
        border-radius: 100%;
        position:absolute;
        left: 25%;
        background: #006B38FF;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        color: white;
        animation-name: example2;
        animation-duration: 30s;
        animation-timing-function: ease-in-out;
        /* animation-fill-mode: forwards;s */
        

    }

    #element4{
        width: 33px;
        height: 33px;
        /* margin: ; */
        border-radius: 100%;
        position:absolute;
        left: 35%;
        background: #006B38FF;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        color: white;
        animation-name: example;
        animation-duration: 40s;
        animation-timing-function: ease-in-out;
        /* animation-fill-mode: forwards;s */
        

    }

    #element5{
        width: 33px;
        height: 33px;
        /* margin: ; */
        border-radius: 100%;
        position:absolute;
        left: 45%;
        background: #006B38FF;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        color: white;
        animation-name: example;
        animation-duration: 45s;
        animation-timing-function: ease-in-out;
        /* animation-fill-mode: forwards;s */
        

    }
    #element6{
        width: 33px;
        height: 33px;
        /* margin: ; */
        border-radius: 100%;
        position:absolute;
        left: 55%;
        background: #006B38FF;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        color: white;
        animation-name: example2;
        animation-duration: 10s;
        animation-timing-function: ease-in-out;
        /* animation-fill-mode: forwards;s */
        

    }

    #element7{
        width: 33px;
        height: 33px;
        /* margin: ; */
        border-radius: 100%;
        position:absolute;
        left: 65%;
        background: #006B38FF;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        color: white;
        animation-name: example;
        animation-duration: 20s;
        animation-timing-function: ease-in-out;
        /* animation-fill-mode: forwards;s */
        

    }
    #element8{
        width: 33px;
        height: 33px;
        /* margin: ; */
        border-radius: 100%;
        position:absolute;
        left: 75%;
        background: #006B38FF;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        color: white;
        animation-name: example2;
        animation-duration: 30s;
        animation-timing-function: ease-in-out;
        /* animation-fill-mode: forwards;s */
        

    }

    #element9{
        width: 33px;
        height: 33px;
        /* margin: ; */
        border-radius: 100%;
        position:absolute;
        left: 85%;
        background: #006B38FF;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        color: white;
        animation-name: example;
        animation-duration: 40s;
        animation-timing-function: ease-in-out;
        /* animation-fill-mode: forwards;s */
        

    }

    #element10{
        width: 33px;
        height: 33px;
        /* margin: ; */
        border-radius: 90%;
        position:absolute;
        left: 70%;
        background: #006B38FF;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        color: white;
        animation-name: example2;
        animation-duration: 45s;
        animation-timing-function: ease-in-out;
        
    }
        
    
        @keyframes example {
            0% {bottom: 30vh;  top: 95vh;}
            
            100% {top: 30vh;  bottom: 100vh; }
          }

        @keyframes example2 {
            0% {bottom: 0px;  top: 100vh;}
            
            100% {top: 0px;left: 50%;  bottom: 100vh; }
          }

        
